force-app/main/default/flows/SF_OCR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OCR_Helper_Apex</name>
        <label>OCR Helper Apex</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <actionName>OCRHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OCR_Helper_Function_call</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>filesLink</name>
            <value>
                <elementReference>CreateLinkedDocumentsList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContentDistributionList</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCR_Helper_Function_call</name>
        <label>OCR Helper Function call</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <actionName>OCRHelperFunctionCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Preview_and_Verify</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>aadhaarCardNameHelper</name>
            <value>
                <elementReference>aadhaarNameHelper</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aadhaarCardNameHelper2</name>
            <value>
                <elementReference>aadhaarCardNameHelper2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputParams</name>
            <value>
                <elementReference>ContentDistributionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>panCardName</name>
            <value>
                <elementReference>panCardNameHelper</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>aadhaarBackContentDocumentId</assignToReference>
            <name>aadhaarBackDocumentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aadhaarFrontContentDocumentId</assignToReference>
            <name>aadhaarFrontDocumentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AadhaarCardName</assignToReference>
            <name>aadhaarName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AadhaarCardNumber</assignToReference>
            <name>aadhaarNum</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AadhaarAddress</assignToReference>
            <name>address</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>panCardContentDocumentId</assignToReference>
            <name>panCardDocumentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PanName</assignToReference>
            <name>panName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PanNum</assignToReference>
            <name>panNum</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignAadhaarCardNameHelper</name>
        <label>assignAadhaarCardNameHelper</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>aadhaarNameHelper</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aadhaar Card Front</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAadhaarCardNameHelper2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAadhaarCardNameHelper2</name>
        <label>assignAadhaarCardNameHelper2</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>aadhaarCardNameHelper2</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aadhaar Card Back</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignPanCardNameHelper</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPanCardNameHelper</name>
        <label>assignPanCardNameHelper</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>panCardNameHelper</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pan Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Fill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variable_blank</name>
        <label>Set variable blank</label>
        <locationX>270</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>NewContentDocumentLinks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_content_Document_List_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Linked_Record_Id</name>
        <label>Update Linked Record Id</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewContentDocumentLinks.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContentDocumentLinks.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_content_Document_List_records.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Linked_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Linked_Documents</name>
        <label>Updated Linked Documents</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>CreateLinkedDocumentsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContentDocumentLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_variable_blank</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Car_Loan</name>
        <choiceText>Car Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home_Loan</name>
        <choiceText>Home Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_Loan</name>
        <choiceText>Personal Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal Loan</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Validation_message</name>
        <label>Validation message</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_record_to_Verifier_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAllTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_loan_Officer</targetReference>
            </connector>
            <label>Validation Successful</label>
        </rules>
    </decisions>
    <formulas>
        <name>amountInLakh</name>
        <dataType>Number</dataType>
        <expression>{!Amount.value}*100000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EMI</name>
        <dataType>Number</dataType>
        <expression>{!amountInLakh}*{!RateOfInterest}*((1 + {!RateOfInterest} )^{!Tenure.value})/ (((1 + {!RateOfInterest} )^{!Tenure.value}) -1 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!First_Name}&amp;&apos; &apos;&amp;{!Last_Name}</expression>
    </formulas>
    <formulas>
        <name>IsAllTrue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!IsAadharVerified} &amp;&amp; {!IsPANVerified}, true, false)</expression>
    </formulas>
    <formulas>
        <name>rateCal</name>
        <dataType>Number</dataType>
        <expression>((1 + {!RateOfInterest} )^{!Tenure.value})</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>RateOfInterest</name>
        <dataType>Number</dataType>
        <expression>VALUE({!ROI_Per_Annum})/12</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>TextInsideRing</name>
        <dataType>String</dataType>
        <expression>{!Score} &amp; TEXT({!cibilScore})</expression>
    </formulas>
    <interviewLabel>SF OCR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF OCR</label>
    <loops>
        <name>Loop_content_Document_List_records</name>
        <label>Loop content Document List records</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Content_Document_Linked</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Linked_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_List_of_Content_Document_link_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Content_Document_Linked</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhaar_Card_No__c</field>
            <value>
                <elementReference>AADHAR_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Dummy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Card_No__c</field>
            <value>
                <elementReference>PAN_Card_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenure__c</field>
            <value>
                <elementReference>Tenure.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Loan__c</field>
            <value>
                <elementReference>Type_of_Loan</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_List_of_Content_Document_link_records</name>
        <label>Create List of Content Document link records</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Delete_dummy_linked_records</targetReference>
        </connector>
        <inputReference>CreateLinkedDocumentsList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_dummy_linked_records</name>
        <label>Delete dummy linked records</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>OCR_Helper_Apex</targetReference>
        </connector>
        <inputReference>Get_Content_Document_Linked</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Document_Linked</name>
        <label>Get Content Document Linked</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_content_Document_List_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DummyLeadRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_lead_record_to_Verifier_User</name>
        <label>Assign lead record to Verifier User</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Submit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VerifierOfficer</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Lead_to_loan_Officer</name>
        <label>Assign Lead to loan Officer</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Submit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LoanOfficer</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Form_Fill</name>
        <label>Form Fill</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>ProgressBar</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>progressIndicator</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Details</name>
            <fieldText>Personal Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Email Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Male</choiceReferences>
                    <choiceReferences>Female</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>phone.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DOB</name>
                    <dataType>Date</dataType>
                    <fieldText>DOB</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Loan_Details</name>
            <fieldText>Loan Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Loan</name>
                    <choiceReferences>Home_Loan</choiceReferences>
                    <choiceReferences>Personal_Loan</choiceReferences>
                    <choiceReferences>Car_Loan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Loan</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Amount?(Move the slider to set Amount in lakh)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>step</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>amountValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Tenure</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tenure? (Move the slider to set tenure in months)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>60.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>step</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>tenureValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Documents</name>
            <fieldText>Documents</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Documents_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PAN_Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>PAN Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Documents_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AADHAR_Card_Number</name>
                    <dataType>String</dataType>
                    <fieldText>AADHAR Card Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Form_Fill_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_Fill_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PANCard</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>PAN Card</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>DummyLeadRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>panCardNameHelper</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>panCardNameHelper</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_Fill_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AadharCardFront</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>AADHAR Card Front</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>DummyLeadRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>aadhaarNameHelper</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>aadhaarNameHelper</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_Fill_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AadharCardBack</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Aadhaar Card Back</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>aadhaarCardNameHelper2</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>DummyLeadRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>aadhaarCardNameHelper2</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Apply</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview_and_Verify</name>
        <label>Preview and Verify</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation_message</targetReference>
        </connector>
        <fields>
            <name>progressBar1</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>progressIndicator</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Personal_Details_Entered</name>
            <fieldText>Personal Details Entered</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Details_Entered_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Full Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FullName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>genderRadio</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Gender</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AadhaarAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Files_Preview</name>
            <fieldText>Files Preview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Files_Preview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>panCardPreview</name>
                    <extensionName>c:filePreviewCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>contentDocumentId</name>
                        <value>
                            <elementReference>panCardContentDocumentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cardTitle</name>
                        <value>
                            <stringValue>Pan Card</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFilePreviewer</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordLimit</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>textPreviewPan</name>
                    <extensionName>c:previewTextHelper</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>panCardName</name>
                        <value>
                            <elementReference>PanName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>panCardNum</name>
                        <value>
                            <elementReference>PanNum</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>PAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Files_Preview_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>aadhaarFrontPreview</name>
                    <extensionName>c:filePreviewCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardTitle</name>
                        <value>
                            <stringValue>Aadhaar Card Front</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocumentId</name>
                        <value>
                            <elementReference>aadhaarFrontContentDocumentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordLimit</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>textPreviewAadhaarFront</name>
                    <extensionName>c:previewTextHelper</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>aadhaarName</name>
                        <value>
                            <elementReference>AadhaarCardName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>aadhaarNum</name>
                        <value>
                            <elementReference>AadhaarCardNumber</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>aadhaar</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Files_Preview_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>aadhaarCardBackPreview</name>
                    <extensionName>c:filePreviewCmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cardTitle</name>
                        <value>
                            <stringValue>Aadhaar Card Back</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocumentId</name>
                        <value>
                            <elementReference>aadhaarBackContentDocumentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>textPreviewAadhaarBack</name>
                    <extensionName>c:previewTextHelper</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>aadhaarAddress</name>
                        <value>
                            <elementReference>AadhaarAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>type</name>
                        <value>
                            <stringValue>aadhaarback</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Loan</name>
            <fieldText>Loan Request Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LoanRequest</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>text</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Loan Request Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Type_of_Loan</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LoanTenure</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tenure (in months)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Tenure.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EMI_s</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>EMI&apos;s</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>EMI</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>formatter</name>
                        <value>
                            <stringValue>currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_Amount</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>amountInLakh</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>formatter</name>
                        <value>
                            <stringValue>currency</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Loan Amount</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ROI_s</name>
                    <extensionName>c:customFieldDisplay</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldType</name>
                        <value>
                            <stringValue>number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>formatter</name>
                        <value>
                            <stringValue>percent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isInputTypeText</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRadio</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>ROI % (Per Annum)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ROI_Per_Annum</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preview_and_Verify_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preview_and_Verify_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AadharVerification</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>AadharVerification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>Aadhar Verification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>50%</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsAadharVerified</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_and_Verify_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PanVerification</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>PanVerification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>Pan Verification</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>50%</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsPANVerified</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Preview_and_Verify_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProgressRing</name>
                    <extensionName>c:progressRing</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>ringColor</name>
                        <value>
                            <stringValue>blue</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showBothTextAndPercentage</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>textInsideRing</name>
                        <value>
                            <elementReference>cibilScore</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>source</name>
                        <value>
                            <elementReference>cibilScore</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>CIBIL Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>target</name>
                        <value>
                            <stringValue>1000</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>percentageType</name>
                        <value>
                            <stringValue>Relational</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>titlePlacement</name>
                        <value>
                            <stringValue>Footer</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit</name>
        <label>Submit</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>progressBar2</name>
            <extensionName>c:progressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>progressIndicator</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SubmitScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Loan Number - {!LoanNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>loanOfficierMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your loan has been submitted and a loan officer is assigned to you. In case of any query, the loan verification officer will reach out to you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAllTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>IsAllTrue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VerifierOfficerMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your loan has been submitted and a verifier is assigned to you and will get back with the correction required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsAllTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>successfully completed</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignAadhaarCardNameHelper</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AadhaarAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aadhaarBackContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AadhaarCardName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aadhaarCardNameHelper2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AadhaarCardNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aadhaarFrontContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aadhaarNameHelper</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amountValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cibilScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>765.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContentDistributionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDistribution</objectType>
    </variables>
    <variables>
        <name>CreateLinkedDocumentsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>DummyLeadRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00QDK000008Lxk82AC</stringValue>
        </value>
    </variables>
    <variables>
        <name>IsAadharVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsPANVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoanNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>panCardContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>panCardNameHelper</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PanNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROI_Per_Annum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>11.5</stringValue>
        </value>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Score - </stringValue>
        </value>
    </variables>
    <variables>
        <name>tenureValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VerifierOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
